/*******************************************************************************
 *
 * Initializers and defaults.
 *
 ******************************************************************************/

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 65%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

h1 {
  font-weight: 300;
  margin: 0 0 22px;
  font-size: 3rem;
}

h2 {
  font-weight: 300;
  margin: 0;
  font-size: 2rem;
}

a:hover {
    color: #00364a;
}

a:active {
    color: #81a7b5;
}

button:focus {
    outline: 0;
}

select:focus {
    outline: 0;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1 + */
    color: #005e80;
}

::ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #005e80;
}

::ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #005e80;
}

.Header__bottom__wrapper {
    padding: 11px 22px;
    background-color: #0084b4;
}

.Icon__search__input {
    width: 38px;
    height: 38px;
    position: absolute;
    right: 2px;
    margin-top: 2px;
    background-color: #81a7b5;
    background-image: url('/assets/images/icon-search-input.png');
    background-repeat: no-repeat;
    background-position: center center;
    border-style: solid;
    border-width: 0px;
    border-radius: 0px 2px 2px 0px;
}

.Clear__both {
    clear: both;
}

/*******************************************************************************
 *
 * Global button.
 *
 ******************************************************************************/

.Global__button__wrapper {
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: #81a7b5;
    background-color: #0084b4;
}

.Global__button {
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: #005e80;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: #00364a;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
}

.Global__button:hover {
    background-color: #0084b4;
    border-color: #fff;
}

.Global__button:active {
    background-color: #fff;
    color: #81a7b5;
}

/*******************************************************************************
 *
 * Add to cart button.
 *
 ******************************************************************************/

.Add__to__cart__button__wrapper {
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: #81a7b5;
    background-color: #0084b4;
}

.Add__to__cart__button {
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: #0d8000;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: #074a00;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
}

.Add__to__cart__button:hover {
    background-color: #0084b4;
    border-color: #fff;
}

.Add__to__cart__button:active {
    background-color: #fff;
    color: #81a7b5;
}

/*******************************************************************************
 *
 * Checkout button.
 *
 ******************************************************************************/

.Checkout__button__wrapper {
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: #81a7b5;
    background-color: #0084b4;
}

.Checkout__button {
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: #0d8000;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: #074a00;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
}

.Checkout__button:hover {
    background-color: #0084b4;
    border-color: #fff;
}

.Checkout__button:active {
    background-color: #fff;
    color: #81a7b5;
}

/*******************************************************************************
 *
 * More button.
 *
 ******************************************************************************/

.More__button__wrapper {
    margin-top: 22px;
    width: 100%;
    height: 44px;
}

.More__button {
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: #0084b4;
    border-width: 0px;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
}

.More__button:hover {
    background-color: #0084b4;
}

.More__button:active {
    background-color: #fff;
    color: #81a7b5;
}

/*******************************************************************************
 *
 * Header.
 *
 ******************************************************************************/

.Header__logo {
    margin: 0 auto;
}

.Header__search__input {
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: #00364a;
    background-color: #fff;
    padding-left: 22px;
}

/* BEGIN Large Width */

.Header__top__wrapper__LW {
    padding: 11px 22px 0px 22px;
    background-color: #0084b4;
}

.Header__bottom__wrapper__LW {
    padding: 11px 22px;
    background-color: #0084b4;
}

.Header__col__50PC__LW {
    width: 50%;
    height: 88px;
    float: left;
}

.Header__options__LW {
    width: calc(50% - 22px);
    width: -webkit-calc(50% - 22px);
    width: -moz-calc(50% - 22px);
    float: left;
}

.Header__options__select__LW {
    width: 100%;
    height: 38.5px;
    padding-left: 11px;
    margin-bottom: 11px;
    background-color: #0084b4;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: #81a7b5;
    color: #fff;
}

.Header__cart__LW {
    width: 50%;
    height: 100%;
    float: right;
}

.Header__cart__wrapper__LW {
    width: 100%;
    height: 100%;
    background-color: #0084b4;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: #81a7b5;
    text-align: center;
}

.Header__cart__top__LW {
    width: 100%;
    height: 42px;
    line-height: 42px;
}

.Header__cart__bottom__LW {
    width: calc(100% - 0px);
    width: -webkit-calc(100% - 0px);
    width: -moz-calc(100% - 0px);
    height: 44px;
    margin-left: 0px;
}

.Header__cart__text__LW {
    vertical-align: middle;
    color: #fff;
    font-size: 1.25rem;
}

.Header__search__wrapper__LW {
    position: relative;
    width: calc(75% - 22px);
    width: -webkit-calc(75% - 22px);
    width: -moz-calc(75% - 22px);
    height: 44px;
    float: left;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: #81a7b5;
    background-color: #0084b4;
}

.Header__login__wrapper__LW {
  width: 25%;
  height: 44px;
  float: right;
}

/* END Large Width */

/* BEGIN Medium Width */

.Header__top__wrapper__MW {
    padding: 11px 22px 0px 22px;
    background-color: #0084b4;
}

.Header__middle__wrapper__MW {
    padding: 11px 22px 0px 22px;
    background-color: #0084b4;
}

.Header__bottom__wrapper__MW {
    padding: 11px 22px;
    background-color: #0084b4;
}

.Header__col__100PC__MW {
    width: 100%;
    height: 88px;
}

.Header__options__MW {
    width: calc(75% - 22px);
    width: -webkit-calc(75% - 22px);
    width: -moz-calc(75% - 22px);
    float: left;
}

.Header__options__select__MW {
    width: 100%;
    height: 38.5px;
    padding-left: 11px;
    margin-bottom: 11px;
    background-color: #0084b4;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: #81a7b5;
    color: #fff;
}

.Header__options__select__MW__nomarginbottom {
    width: 100%;
    height: 33px;
    padding-left: 11px;
    background-color: #0084b4;
    border-style: solid;
    border-width: 1px;
    border-color: #81a7b5;
    color: #fff;
}

.Header__cart__MW {
    width: 25%;
    height: 100%;
    float: right;
}

/* END Medium Width */

/* BEGIN Small Width */

.Header__wrapper__SW {
    padding: 11px 22px 0px 22px;
    background-color: #0084b4;
}

.Header__bottom__wrapper__SW {
    padding: 11px 22px;
    background-color: #0084b4;
}

.Header__col__100PC__SW {
    width: 100%;
    height: 88px;
}

.Header__col__100PC__W44__SW {
    width: 100%;
    height: 44px;
}

.Header__options__select__SW {
    width: 100%;
    height: 33px;
    padding-left: 11px;
    background-color: #0084b4;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: #81a7b5;
    color: #fff;
}

.Header__search__wrapper__SW {
    position: relative;
    width: 100%;
    height: 44px;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: #81a7b5;
    background-color: #0084b4;
}

/* END Small Width */

.Header__cart__wrapper {
    width: 100%;
    height: 100%;
    background-color: #0084b4;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: #81a7b5;
    text-align: center;
}


.Header__cart__empty {
    width: 100%;
    height: 88px;
    line-height: 88px;
}

.Header__cart__top {
    width: 100%;
    height: 40px;
    line-height: 40px;
}

.Header__cart__bot {
    width: calc(100% - 4px);
    width: -webkit-calc(100% - 4px);
	width: -moz-calc(100% - 4px);
    height: 44px;
    margin: 0 auto;
}

.Header__sep0 {
  background-color: #81a7b5;
  height: 1px;
}

.Header__sep1 {
  background-color: #0084b4;
  height: 1px;
}

/*******************************************************************************
 *
 * Content.
 *
 ******************************************************************************/

.Content {
  max-width: calc(100% - 44px);
  max-width: -webkit-calc(100% - 44px);
  max-width: -moz-calc(100% - 44px);
  margin: 22px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*******************************************************************************
 *
 * Home.
 *
 ******************************************************************************/

.Home__element {
    width: 100%;
    padding: 22px;
    margin-bottom: 44px;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: #81a7b5;
}

.Home__element__title {
    color: #00364a;
}

.Home__element__l {
    width: calc(50% - 11px);
    width: -webkit-calc(50% - 11px);
	width: -moz-calc(50% - 11px);
    float: left;
}

.Home__element__r {
    width: calc(50% - 11px);
    width: -webkit-calc(50% - 11px);
    width: -moz-calc(50% - 11px);
    float: right;
}

.Home__element__item__wrapper {
    background-color: #0084b4;
    border-style: solid;
    border-width: 11px;
    border-radius: 3px;
    border-color: #0084b4;
    text-align: center;
}

.Home__element__item__img__wrapper {
    width: 100%;
    height: 247.75px;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: #00364a;
}

.Home__element__item__img {
    min-height: 100%;
    min-width: 100%;
}

.Home__element__item__name {
    font-weight: 800;
    color: #fff;
}

.Home__element__item__price {
    color: #fff;
}

.Home__element__item__view {
    width: 100%;
    height: 44px;
    margin-top: 11px;
}

.Home__element__products__add__to__cart {
    width: 100%;
    height: 44px;
    margin-top: 11px;
}

/*******************************************************************************
 *
 * Breadcrumbs.
 *
 ******************************************************************************/

.Breadcrumbs {
    padding: 11px 88px;
    background-color: #81a7b5;
    font-weight: 800;
    color: #00364a;
}

/*******************************************************************************
 *
 * Product.
 *
 ******************************************************************************/

.Product__wrapper {
    width: 100%;
    padding: 22px;
    margin-bottom: 44px;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: #81a7b5;
}

.Product__col__l {
    height: 800px;
    background-color: #fde058;
    width: calc(40% - 11px);
    width: -webkit-calc(40% - 11px);
    width: -moz-calc(40% - 11px);
    float: left;
}

.Product__col__r {
    height: 800px;
    background-color: #fde058;
    width: calc(60% - 11px);
    width: -webkit-calc(60% - 11px);
    width: -moz-calc(60% - 11px);
    float: right;
}

.Product__name {
    color: #00364a;
}

.Product__vendor {
    font-weight: 800;
    color: #00364a;
}

.Product__price {
    color: #00364a;
}



/* */
.Featured__Categories__Display {
    width: 80%;
    height: 300px;
    background-color: #fde058;
}

/* BASE APP
 * ============================== */

.tmp_0 {
    color: #fff;
}

.tmp_1 {
    color: #fff;
}

.tmp_a {
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #0084b4;
    margin-bottom: 44px;
}

.tmp_b {
    width: calc(100% - 44px);
    margin: 22px auto;
}

.tmp_c {
    color: #00364a;
}

.tmp_d {
    float: left;
    width: calc(50% - 11px);
    width: -webkit-calc(50% - 11px);
    width: -moz-calc(50% - 11px);
    height: 100%;
}

.tmp_e {
    float: right;
    width: calc(50% - 11px);
    width: -webkit-calc(50% - 11px);
    width: -moz-calc(50% - 11px);
    height: 100%;
}

.tmp_f {
    float: left;
    width: calc(50% - 11px);
    width: -webkit-calc(50% - 11px);
    width: -moz-calc(50% - 11px);
    height: 100%;
    background: #0084b4;
    text-align: center;
    border-style: solid;
    border-width: 11px;
    border-radius: 3px;
    border-color: #0084b4;
}

.tmp_g {
    float: right;
    width: calc(50% - 11px);
    width: -webkit-calc(50% - 11px);
    width: -moz-calc(50% - 11px);
    height: 100%;
    background: #0084b4;
    text-align: center;
    border-style: solid;
    border-width: 11px;
    border-radius: 3px;
    border-color: #0084b4;
}

.tmp_i {
    background-color: #0084b4;
    width: 100%;
    height: 175px;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: #00364a;
}

.tmp_h {
    margin-top: 22px;
    width: 100%;
    height: 44px;
    background-color: #0084b4;
    border-width: 0px;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
}

.tmp_x {
    margin-top: 11px;
    height: 44px;
}

.tmp_j {
    width: 100%;
    height: 100%;
    background-color: #005e80;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: #00364a;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
}

.baz {
    width: 100%;
    height: 44px;
    margin: 0 auto;
    background-color: #0084b4;
    border-style: solid;
    border-width: 0px;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
}

@media screen and (max-width: 600px) {
    .tmp_e {
        width: 100%;
    }
}


/*******************************************************************************
 *
 * Headerbar.
 *
 ******************************************************************************/

.App__headerbar {
  background-color: #0084b4;
  padding: 22px 88px;
}


.App__headerbar__login__button {
    width: 100%;
    height: 100%;
    background-color: #005e80;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: #00364a;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
}

.App__headerbar__login__button:active {
    width: 100%;
    height: 100%;
    background-color: #0084b4;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: #00364a;
    color: white;
    text-align: center;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .App__headerbar {
        padding: 44px 44px;
    }

    .App__headerbar__search__wrapper {
        width: 100%;
        margin-bottom: 44px;
    }

    .App__headerbar__login__wrapper {
        width: 100%;
    }
}

/*******************************************************************************
 *
 * Footer.
 *
 ******************************************************************************/

.Footer__a {
    color: #fff;
}

.Footer {
    padding: 11px 22px;
    background-color: #0084b4;
}

.Footer__ul {
    text-align: center;
    overflow: hidden;
}

.Footer__li {
    display: inline-block;
    margin-left: 22px;
    margin-right: 22px;
}

@media only screen and (max-width: 767px) {
    .Footer {
        padding-bottom: 0px;
    }

    .Footer__ul {
        padding: 0px;
        margin: 0px;
    }

    .Footer__li {
        display: block;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 11px;
        padding-left: 0px;
    }
}

.App__customer-actions {
  float: left;
  padding: 10px;
}

.App__title {
  padding: 80px 20px;
  text-align: center;
}


.App__view-cart-wrapper {
  float: right;
}

.App__view-cart {
  font-size: 15px;
  border: none;
  background: none;
  cursor: pointer;
  color: white;
}

.button {
  background-color: #2752ff;
  color: white;
  border: none;
  font-size: 1.2rem;
  padding: 10px 17px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #222222;
}

.button:disabled {
  background: #bfbfbf;
  cursor: not-allowed;
}

.login {
  font-size: 1.2rem;
  color: #b8b8b8;
  cursor: pointer;
}

.login:hover {
  color: white;
}

.Flash__message-wrapper {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  align-items: flex-end;
  justify-content: center;
  position: fixed;
  bottom: 0;
  pointer-events: none;
  z-index: 227;
  left: 50%;
  transform: translateX(-50%);
}

.Flash__message {
  background: rgba(0,0,0,0.88);
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  color: #ffffff;
  cursor: default;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: none;
  pointer-events: auto;
  position: relative;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  padding: 10px 20px;
  margin: 0;
}

.Flash__message--open {
  display: flex;
}

/* CART
 * ============================== */
.Cart {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 350px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #e5e5e5;
  transform: translateX(100%);
  transition: transform 0.15s ease-in-out;
}

.Cart--open {
  transform: translateX(0);
}

.Cart__close {
  position: absolute;
  right: 9px;
  top: 8px;
  font-size: 35px;
  color: #999;
  border: none;
  background: transparent;
  transition: transform 100ms ease;
  cursor: pointer;
}

.Cart__header {
  padding: 20px;
  border-bottom: 1px solid #e5e5e5;
  flex: 0 0 auto;
  display: inline-block;
}

.Cart__line-items {
  flex: 1 0 auto;
  margin: 0;
  padding: 20px;
}

.Cart__footer {
  padding: 20px;
  border-top: 1px solid #e5e5e5;
  flex: 0 0 auto;
}

.Cart__checkout {
  margin-top: 20px;
  display: block;
  width: 100%;
}

.Cart-info {
  padding: 15px 20px 10px;
}

.Cart-info__total {
  float: left;
  text-transform: uppercase;
}

.Cart-info__small {
  font-size: 11px;
}

.Cart-info__pricing {
  float: right;
}

.pricing {
  margin-left: 5px;
  font-size: 16px;
  color: black;
}

/* LINE ITEMS
 * ============================== */
.Line-item {
  margin-bottom: 20px;
  overflow: hidden;
  backface-visibility: visible;
  min-height: 65px;
  position: relative;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.Line-item__img {
  width: 65px;
  height: 65px;
  border-radius: 3px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #e5e5e5;
  position: absolute;
}

.Line-item__content {
  width: 100%;
  padding-left: 75px;
}

.Line-item__content-row {
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
  position: relative;
}

.Line-item__variant-title {
  float: right;
  font-weight: bold;
  font-size: 11px;
  line-height: 17px;
  color: #767676;
}

.Line-item__title {
  color: #4E5665;
  font-size: 15px;
  font-weight: 400;
}

.Line-item__price {
  line-height: 23px;
  float: right;
  font-weight: bold;
  font-size: 15px;
  margin-right: 40px;
}

.Line-item__quantity-container {
  border: 1px solid #767676;
  float: left;
  border-radius: 3px;
}

.Line-item__quantity-update {
  color: #767676;
  display: block;
  float: left;
  height: 21px;
  line-height: 16px;
  font-family: monospace;
  width: 25px;
  padding: 0;
  border: none;
  background: transparent;
  box-shadow: none;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
}

.Line-item__quantity-update-form {
  display: inline;
}

.Line-item__quantity {
  color: black;
  width: 38px;
  height: 21px;
  line-height: 23px;
  font-size: 15px;
  border: none;
  text-align: center;
  -moz-appearance: textfield;
  background: transparent;
  border-left: 1px solid #767676;
  border-right: 1px solid #767676;
  display: block;
  float: left;
  padding: 0;
  border-radius: 0;
}

.Line-item__remove {
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  background: 0;
  font-size: 20px;
  top: -4px;
  opacity: 0.5;
}

.Line-item__remove:hover {
  opacity: 1;
  cursor: pointer;
}

/* PRODUCTS
 * ============================== */
.Product {
  flex: 0 1 31%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 3%;
}

.Product__title {
  font-size: 1.3rem;
  margin-top: 1rem;
  margin-bottom: 0.4rem;
  opacity: 0.7;
}

.Product__option {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.Product__quantity {
  display: block;
  width: 15%;
  margin-bottom: 10px;
}

/* CUSTOMER AUTH
 * ============================== */
.CustomerAuth {
  background: #2a2c2e;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0;
  padding: 0 0 65px;
  top: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  transition: opacity 150ms;
  opacity: 1;
  visibility: visible;
  z-index: 1000;
  position: fixed;
}

.CustomerAuth--open {
  display: block;
}

.CustomerAuth__close {
  position: absolute;
  right: 9px;
  top: 8px;
  font-size: 35px;
  color: #999;
  border: none;
  background: transparent;
  transition: transform 100ms ease;
  cursor: pointer;
}

.CustomerAuth__body {
  padding: 130px 30px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  position: relative;
}

.CustomerAuth__heading {
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 15px;
}

.CustomerAuth__credential {
  display: block;
  position: relative;
  margin-bottom: 15px;
  border-radius: 3px;
}

.CustomerAuth__input {
  height: 60px;
  padding: 24px 10px 20px;
  border: 0px;
  font-size: 18px;
  background: #fff;
  width: 100%;
}

.CustomerAuth__submit {
  float: right;
}

.error {
  display: block;
  font-size: 15px;
  padding: 10px;
  position: relative;
  min-height: 2.64286em;
  background: #fbefee;
  color: #c23628;
}

.App__header__split50 {
  width: 50%;
  height: 88px;
  float: left;
  text-align: center;
}


.clear__both {
  clear: both;
}


.Header__select {
    width: 100%;
    height: 33px;
    padding-left: 11px;
    margin-bottom: 22px;
    background-color: #0084b4;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: #81a7b5;
    color: #fff;
}


.HeaderCart__top {
    width: 100%;
    height: 38px;
    line-height: 38px;
    vertical-align: middle;
}

.HeaderCart__bot {
    display: block;
    margin: 0 auto;
    width: calc(100% - 8px);
    width: -webkit-calc(100% - 8px);
    width: -moz-calc(100% - 8px);
    height: 44px;
}

.HeaderCart__view_cart {
    color: #fff;
    font-size: 1.25rem;
}

.HeaderCart__checkout_button {
    width: 100%;
    height: 100%;
    background-color: #005e80;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: #00364a;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
}
